body{
    font-family:'Roboto', sans-serif;
}
.navbar{
    background-color: brown;
}
#cabeçalho .nav .nav-link.active{
    background-color: white;
    color: brown;
}
#cabeçalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover{
    color: white;
}


.navbar-brand:hover{
    color: white;
}

.navbar-toggler{
    background-color: burlywood;
}
.section-title{
    font-family:'Pacifico', cursive ;
}

#sobre-o-restaurante{
    background-color: rgba(165, 91, 42, 0.384);
}
.text-colored{
    color: brown;  
}
